.not-found {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  width: 500px;
}
.not-found-head {
  font-family: roboto;
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
}
.not-found-desc {
  font-family: roboto;
  font-size: 20px;
  color: #f1f5f9;
  margin-top: 0px;
}
