.type-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.emp-type-label {
  font-family: roboto;
  color: #ffffff;
  font-size: 15px;
}
.emp-type-input {
  height: 15px;
  width: 15px;
}
